{% extends "FOSUserBundle::layout.html.twig" %}
{% set pageTitle = 'Resetuj hasło' %}
{% block pageTitle %}
    {{ pageTitle }} {{ parent() }}
{% endblock %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <ul class="kopa-alert alert alert-danger alert-dismissable">
        <li>{{ 'resetting.password_already_requested'|trans }}</li>
    </ul>
{% endblock fos_user_content %}
